a {
    width: 50px;
    height: 20px;
    border: solid 3px gray;
    background-color: antiquewhite;
    position: absolute;
    text-decoration-line: none;
    top: 0%;
    left: 0%;
    
  

  
 }
 
 
 body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: row;
    height: 100vh;
 
  
 }
 
 
 .caixa {
    width: 200px;
    height: 200px;
    margin: 2px;
    background-color: white;
    animation: up 2s infinite;
    position: relative; 
  
}

.caixa2{
    width: 200px;
    height: 200px;
    margin: 2px;
    background-color: white;
    animation: up 4s infinite;
    position: relative; 

}

.caixa3{
    width: 200px;
    height: 200px;
    margin: 2px;
    background-color: white;
    animation: up 6s infinite;
    position: relative; 

}

@keyframes up {
    0% {
        top: 0px;
    }

    25% {
        top: -150px;
    }
    
    50% {
        top: 0px;
    }

    100% {
        top: 150px;
    }

    
}




