a {
    width: 50px;
    height: 20px;
    border: solid 3px gray;
    background-color: antiquewhite;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    
  

  
 }


body {
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
  
    
    
 
 
 }
 
 
 .caixa{
 
     
     width: 200px;
     height: 200px;
     background-color: rgb(25, 0, 255);
     animation-duration: 3s;
     animation-name: anima;
     border: solid 25px white;
     border-top: 25px solid green ;
  
     
     
  
 }

 .caixa:hover{
    animation: anima 3s ease;
   
 }

 @keyframes anima{
      
    50%{
        transform: rotate(45deg);
     }
   

 

 }