
body {
   background-color: black;
   
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   
   


}


.caixa{

    margin: 5px;
    width: 200px;
    height: 200px;
    background-color: blue;
 
}