body {
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
  
    
    
 
 
 }
 
 
 .caixa{
 
     
     width: 200px;
     height: 200px;
    border-radius: 100%;
     background-color: rgb(25, 0, 255);
     
  
 }

 .caixa:hover{
    animation: mouse 5s ease;
 }

 @keyframes mouse{
      
    50%{
        background-color: yellow; width: 300px; height: 300px;
    }
    75%{
        background-color: yellow;  width: 300px; height: 300px;
    }
    100%{
        background-color: blue;  width: 200px; height: 200px;
    }

 

 }