a {
    width: 50px;
    height: 20px;
    border: solid 3px gray;
    background-color: antiquewhite;
    position: absolute;
    top: 0%;
    left: 0%;
    

  
 }


body {
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
  
    
    
 
 
 }
 
 
 .caixa{
     width:100px;
     height: 100px;
     border-radius: 100%;
     background-color: #5BBE42;
     animation-duration: 4s;
     animation-name: anima;
     animation-iteration-count: 3;
     
  
 }

 .caixa:hover{
    animation: 4s ease;
 }

 @keyframes anima{

    100%{
        
        width: 200px;
        height: 200px;
       }  

 

 }