body {
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
  
    
    
 
 
 }
 
 
 .caixa{
 
     
     width: 200px;
     height: 200px;
     background-color: rgb(25, 0, 255);
     
  
 }

 .caixa:hover{
    animation: mouse 10s ease;
 }

 @keyframes mouse{
      
    0%{
        background-color: red;
    }
    100%{
        background-color: red;
    }

 

 }
    