body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
  
    
    
 
 
 }
 
 
 .caixa{
 
     
     width: 200px;
     height: 200px;
     border-radius: 100%;
     background-color: rgb(25, 0, 255);
     animation-duration: 4s;
     animation-name: anima;
  
     
     
  
 }

 .caixa:hover{
    animation: anima 4s ease;
   
 }

 @keyframes anima{
      
    50%{    
        position:absolute;
       }   

     55%{  
             left: 80%;
      
        
    }
   

 

 }